body {
  padding-top: 20%;
}
.align-content {
  text-align: center;
}
.illustrations {
  text-align: center;
  height: 90%;
  width: 90%;
}
.button {
  margin: 3% 0;
  background-color: #425a97 !important;
  font-weight: bold !important;
}
.nav-color {
  background-color: #425a97;
}
